.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  background-color: rgb(129, 133, 136);
  padding: 20px;
  box-sizing: border-box;
}

.container > div {
  border: 1px solid black;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
